@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
    background: linear-gradient(rgba(0,0,0,.3)), url(img/back.jfif);
    -webkit-background-size: cover;
    background-size: cover;
    background-attachment: fixed; 
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p{
    line-height: 28px;
    margin-bottom: 25px;
}
.centered{
    text-align: center;
}
a{
    color: #f85c37;
}
a:hover, a:focus{
    color: #fb7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;    
}
.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse{
    background: #141414;
    border-color: #141414;
}

.navbar-inverse .navbar-nav > .active > a{
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
    color:#999;
    font-weight:bolder;
    font-size: 22px;
    letter-spacing: 1px;
}


.w{
    padding-top: 35px;
}
.w h4{
    font-size: 25px;
}

#dg{
    background: #141414;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#dg h4{
    font-size: 40px;
    color: white;
}
.tilt{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.wb{
    padding-top: 35px;
    margin-bottom: 0;
}
.wb h4{
    font-size: 50px;
}
#lg{
    background: #141414;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#lg h4{
    font-size: 45px;
    color: white;
}
#r{
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}
#r h4{
    color: white;
    font-size: 45px;
}
#r p{
    color: white;
}
#f{
    background: #141414;
    padding-top: 30px;
    padding-bottom: 20px;
}
#f i{
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}
#f i:hover{
    color: #ff7878;
}

#f h3{
    color: white;
    
}
.animation{
    height: 650px;

}

.fullscreen_title{
    font-size: 50px;
    margin: 0px 0px 20px 0px;
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.fullscreen_title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}