@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700');
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
@font-face {
    font-family: Beleren;
    src: url('../fonts/beleren-bold-webfont.ttf');
}
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
    margin-top: 70px;
}
h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    font-weight: 300;
    color: #333;
}
p{
    line-height: 28px;
    margin-bottom: 25px;
}
.centered{
    text-align: center;
}
a{
    color: #f85c37;
}
a:hover, a:focus{
    color: #fb7b7b;
    text-decoration: none;
    outline: 0;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;    
}
.navbar{
    font-weight: 800;
    font-size: 14px;
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-inverse{
    background: #141414;
    border-color: #141414;
}

.navbar-inverse .navbar-nav > .active > a{
    background-color: #ff7878;
}

.navbar-inverse .navbar-brand{
    color:#999;
    font-weight:bolder;
    font-size: 22px;
    letter-spacing: 1px;
}


.w{
    padding-top: 35px;
}
.w h4{
    font-size: 25px;
}

#dg{
    background: #141414;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#dg h4{
    font-size: 40px;
    color: white;
}
.tilt{
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.tilt:hover{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
}
.wb{
    padding-top: 35px;
    margin-bottom: 0;
}
.wb h4{
    font-size: 50px;
}
#lg{
    background: #141414;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#lg1{
    width: 100%;
    background: #141414;
    padding-top: 70px;
    padding-bottom: 70px;
    text-align: center;
}
#lg1 h4{
    font-size: 45px;
    color: white;
}
#lg h4{
    font-size: 45px;
    color: white;
}

#r{
    background: #ff7878;
    padding-top: 70px;
    padding-bottom: 70px;
}
#r h4{
    color: white;
    font-size: 45px;
}
#r p{
    color: white;
}
#f{
    background: #141414;
    padding-top: 30px;
    padding-bottom: 20px;
}
#f i{
    color: #bdbdbd;
    font-size: 30px;
    padding: 20px;
}
#f i:hover{
    color: #ff7878;
}

#f h3{
    color: white;
    
}
.animation{
    height: 650px;

}

.fullscreen_title{
    font-size: 50px;
    margin: 0px 0px 20px 0px;
    transform: translate(0px,120%);
    opacity: 0;
    transition: all 0.8s ease 0s;
}
.fullscreen_title._active{
    transform: translate(0px, 0px);
    opacity: 1;
}
.form{
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.7);
}
.form h1{
    margin: 30px 100px;
    padding: 0;
    text-align: center;
    color: #fff;
    font-size: 30px;
    text-transform: uppercase;
}
.form-input{
    margin: 15px 40px;
    text-align: center;
}
.input-form input{
    padding: 10px;
    width: 100%;
    color: #fff;
    font-size: 20px;
    background: none;
    outline: none;
    border: 1px solid #fff;
    box-sizing: border-box;
}
.input-form input[type="text"]:focus, .input-form input[type="password"]:focus{
    border: 1px solid #0fc3f5;
}
.input-form input[type="sumbit"] {
    margin-top: 20px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    border: none;
    background: #0fc3f5;
    transition: .3s;
}
.input-form input[type="sumbit"]:hover {
    background: #4442db;
}
.form a {
    display: block;
    padding: 0 0 30px;
    text-align: center;
    color: #fff;
    text-decoration: none;
    transition: .3s;
}
.form a:hover {
    color: #0fc3f5;
}
#qwe
{
    text-align:center;
	background-color: #fff;
    padding-top: 5px;
    padding-bottom: 5px;
}
#round
{
	font-family: 'Beleren';
}
#container
{
    text-align:center;
	margin:0 auto;
	font-family: 'Beleren';
    padding-top: 70px;
    padding-bottom: 70px;
}
table
{
	margin: 0 auto;
    
}

#standingsModal
{
	background-color:black;
    
}

#zxc {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: #e8e8e8;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.bracket-container {
    display: flex;
    flex-direction: row;
    height: 90%;
    width: 100%;
    
  }
  
  .bracket-level {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    flex-grow: 1;
    transition: all ease 0.5s;
    
  }
  
  .bracket-level:hover {
    width: 200%;
  }
  
  .bracket-matchup {
    width: 90%;
    margin: auto;
    max-height: 50px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  .bracket-team {
    height: 45%;
    width: 100%;
    background-color: #f5f5f5;
    box-shadow: rgba(0, 0, 0, 0.3) 0 1px 3px;
    display: flex;
    flex-direction: row;
    transition: all ease 0.5s;
    
  }
  
  .bracket-name {
    font-family: "Open Sans", sans-serif;
    width: 100%;
    font-size: 0.75em;
    padding: 0.2em;
    line-height: 1.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #2b2b2b;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .bracket-score {
    font-family: "Open Sans", sans-serif;
    width: 0%;
    display: none;
    font-size: 0.75em;
    padding: 0.2em;
    line-height: 1.5em;
    white-space: nowrap;
    overflow: hidden;
    color: #2b2b2b;
    text-align: center;
    
    
  }
  
  .winner .bracket-name,
  .winner .bracket-score {
    font-weight: bold;
    color: #d07030;
    
  }
  
  .bracket-team:hover {
    background-color: #e8e8e8;
    height: 100%;
    transition: all ease 0.5s;
    
  }
  
  .bracket-team:hover .bracket-name {
    overflow: none;
    text-overflow: clip;
    white-space: normal;
    line-height: 1em;
    align-self: center;
    width: 100%;
    
  }
  
  .bracket-team:hover .bracket-score {
    display: none;
  }
  
  .header1 {
    height: 10%;
    padding-top: 70px;
    padding-bottom: 70px;
  }
  
  .header1 h1 {
    margin: auto;
    text-align: center;
    font-family: "Dosis", sans-serif;
    color: #205060;
  }  



#prof {
  background-color: hsl(185, 75%, 39%);
  background-image: URL(img/bg-pattern-top.svg), url(img/bg-pattern-bottom.svg);
  background-repeat: no-repeat, no-repeat;
  background-position: right 51vw bottom 35vh, left 48vw top 50vh;
  
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}

.card {
  display: flex;
  flex-direction: column;
  height: 435px;
  width: 350px;
  background-color: #ffff;
  border-radius: 15px;
  -webkit-box-shadow: 8px 11px 47px -13px rgba(0,0,0,0.5); 
  box-shadow: 8px 11px 47px -13px rgba(0,0,0,0.5);
  
}

#pattern-card {
  border-radius: 15px 15px 0 0;
  width: 100%;
  
}

#profile {
  display: flex;
  flex-direction: column;
  height: 145px;
  text-align: center;
  line-height: 1.5;
  margin-top: 10px;
}

#photo {
  align-self: center;
}

#victor {
  margin-top: -55px;
  align-self: center;
  border-radius: 50%;
  border: 5px solid #ffff;
  
}

#followers {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 90%);
  
}

.impression {
  padding: 0px 0px;
  line-height: 1.5;
}

.impression-info {
  font-size: 15px;
  color: hsl(227, 10%, 46%);
  letter-spacing: 1.5px;
}

.stats,
#name {
  font-size: 18px;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
}

#city {
  color: hsl(227, 10%, 46%);
  font-size: 20px;
}

#age {
  color: hsl(227, 10%, 46%);
  font-weight: 400;
}

.attribution {
  color: #ffff;
  margin-bottom: 20px;
}

.level {
  
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 20px;  
  border: 1px solid #333333; 
  border-radius: 18px;
  box-shadow: 0 6px 4px -4px rgba(0, 0, 0, .3);
  background: linear-gradient(to bottom, #353535, #979797)
  
}
.level:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 56%;
  background: linear-gradient(0deg, #55bdfd 15%, #0690f2 50%, #55bdfd 85%);
  border: 1px solid #008df2; 
  border-radius: 18px 0 0 18px;
  box-shadow: 2px 0 2px 0 rgba(0, 0, 0, .6);
}
.container5 {
  padding-left: 50px;
	width: 300px;
}

.progress {
	width: 100%;
	height: 20px;
	border: 1px solid #333333;
	border-radius: 10px;
	background-image: linear-gradient(#353535, #979797 90%);
}

.indicator {
	width: 50%;
	height: 92%;
	border: 1px solid #008DF2;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	background: linear-gradient(#55BDFD, #0691F3, #55BDFD);
	box-shadow: 2px 0px 8px black;
}